<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
	xmlns:jee="http://www.springframework.org/schema/jee" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">
	<!-- 引入的方式注入集合类型的值 -->
	<util:list id="citiesBean">
		<value>北京</value>
		<value>上海</value>
		<value>长沙</value>
		<value>长沙</value>
	</util:list>
	<util:set id="interestBean">
		<value>钓鱼</value>
		<value>台球</value>
		<value>做饭</value>
	</util:set>
	<util:map id="scoresBean">
		<entry key="english" value="59.5"/>
		<entry key="math" value="90"/>
	</util:map>
	<util:properties id="dbBean">
		<prop key="username">Tom</prop>
		<prop key="password">1234</prop>
	</util:properties>
	<bean id="msg" class="ioc.MessageBean">
		<property name="cities" 
		ref="citiesBean"/>
		<property name="interest"
		ref="interestBean"/>
		<property name="scores"
		ref="scoresBean"/>
		<property name="db"
		ref="dbBean"/>
		<property name="name" value="宝玉"/>
	</bean>
	<!-- 读取config.properties文件的内容 
		spring容器会读取指定位置的properties文件
		的内容，并存放到Properties对象。
	-->
	<util:properties id="config" 
	location="classpath:config.properties"/>
	
	<!-- 使用spring表达式来访问其它bean的属性 -->
	<bean id="eb" class="ioc.ExampleBean">
		<property name="ename" value="#{msg.name}"/>
		<property name="city" value="#{msg.cities[1]}"/>
		<property name="score" 
		value="#{msg.scores.english}"/>
		<property name="pageSize" 
		value="#{config.pagesize}"/>
	</bean>
</beans>












