http://([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3})(:[0-9]{1,5})?(/m3u8/.*\.ts)(\?.*)* $3
http://(kan2.video.anyan.com)/.*/live_ts.cgi\?.*(seq=[^&]+)&.*(channel_idx=[^&]+)&.*(device_id=[^&]+)&.*(rate=[^&]+)&.*(v_height=[^&]+)&.*(v_width=[^&]+).* $1$2$3$4$5$6$7
http://(kan2.video.anyan.com)/live/stream\?.*(device_sn=[^&]+)&.*(rate=[^&]+)&.*(channel_id=[^&]+).* $1$2$3$4
http://.*?/(coopcdn/vodreplay.ys7.com.*)\?.*(fid=[^&]+)\&?.*  $1$2
http://.*?/(live/hls/.*\.m3u8)\?.*(abtimeshift=[^&]+)\&?.* $1$2
http://.*?/(coopcdn/letv.v.yinyuetai.com.*)\?.*  1$1
http://.*?/(coopcdn/letv.v.yinyuetai.com.*)  1$1
http://.*?/(coopcdn/cdn).*(.lizhi.fm.*)\?.*  $1$2
http://.*?/(coopcdn/cdn).*(.lizhi.fm.*)  $1$2
http://.*?/(coopcdn/mvvideo10.meitudata.com/.*)\?.* $1
http://.*?/(coopcdn/mvvideo11.meitudata.com/.*)\?.* $1
http://.*?/(coopcdn/mvvideo\d.meitudata.com/.*)&path.* $1
http://.*?/(coopcdn/m3u8-tw2.gole.tv.*)\?.*(playlistlength=[^&]+)\&?.* $1$2
http://.*?/(coopcdn/m3u8-tw2.gole.tv.*)\?.*(chunk=[^&]+)\&?.* $1$2
http://.*?/(coopcdn/.*)\?.* $1
http://.*?/(coopcdn/.*) $1
http://.*?/(live/hls/.*\.ts)\?.* $1
http://.*?(/leflv/.*\.dat).*  $1
http://.*?(/leflv/.*\.header).*  $1
http://.*?/(live/rtmp/.*\.jpg)\?.* $1
http://.*?/(live/rtmp/.*)\?.* $1
http://(mvvideo1.meitudata.com/.*)  $1
http://(mvvideo2.meitudata.com/.*)  $1
http://(mvvideo3.meitudata.com/.*)  $1
http://(mvvideo4.meitudata.com/.*)  $1
http://(dl.lsy.tclclouds.com/.*) $1
http://(.*)\?.* $1
http://(.*) $1
