http://(kan2.video.anyan.com)/.*/live_ts.cgi\?.*(seq=[^&]+)&.*(channel_idx=[^&]+)&.*(device_id=[^&]+)&.*(rate=[^&]+)&.*(v_height=[^&]+)&.*(v_width=[^&]+).* $1$2$3$4$5$6$7
http://(kan2.video.anyan.com)/live/stream\?.*(device_sn=[^&]+)&.*(rate=[^&]+)&.*(channel_id=[^&]+).* $1$2$3$4
http://(mvvideo11.meitudata.com/.*)\? $1
http://(mvvideo10.meitudata.com/.*)\? $1
http://(mvvideo\d.meitudata.com/.*) $1
http://(.*)\?.* $1
http://(.*) $1
