regex_map http://(.*)\.[a-zA-Z]+/ http://127.0.0.1:16688/
regex_map http://(.*)/coopcdn/pcvideoletv.titan.imgo.tv/ http://$1/coopcdn/pcvideoletv.titan.imgo.tv/ @plugin=mp4.so
regex_map http://(.*)/coopcdn/pcvideoletv.titan.mgtv.com/ http://$1/coopcdn/pcvideoletv.titan.mgtv.com/ @plugin=mp4.so
regex_map http://(.*)/coopcdn/pcdownletv.titan.imgo.tv/ http://$1/coopcdn/pcdownletv.titan.imgo.tv/ @plugin=mp4.so
regex_map http://(.*)/coopcdn/pcdownletv.titan.mgtv.com/ http://$1/coopcdn/pcdownletv.titan.mgtv.com/ @plugin=mp4.so
regex_map http://(.*) http://$1
regex_map http://(.*):50080 http://$1:50080
regex_map http://(.*):443 http://$1:443
regex_map http://(.*):8080 http://$1:8080
regex_map http://(.*):50443 http://$1:50443
regex_map http://(.*):58080 http://$1:58080
map /cache_purge http://127.0.0.1/  @plugin=libtscacheops.so   @pparam=/var/ats/trafficserver/ @pparam=10 @pparam=1296000
